.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(1) {
    background-color: #B2EBF2;
  }

  &:nth-child(2) {
    background-color: #E1BEE7;
  }

  &:nth-child(3) {
    background-color: #DCEDC8;
  }

  &:nth-child(4) {
    background-color: #FFF9C4;
  }
}


.tabs {
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .tabs-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    border-width: 1px 1px 0px 1px;
    border-color: #ececec;
    border-style: solid;

    .tab {
      background-color: #8BC34A;
      color: #fff;
      flex: 1;
      font-size: 1.2em;
      padding: 1.5rem;
      text-align: center;
      transition: background-color 200ms ease;
      z-index: 1;

      &.is-active {
        background-color: #689F38;
      }
    }
  }

  .line {
    background-color: #0074a2;
    content: '';
    display: block;
    height: 10px;
    margin-left: 0;
    margin-top: -10px;
    transition: margin-left 200ms ease;
    width: 100%;
    z-index: 9999;
  }


  .tabs-body {
    background-color: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    height: 300px;
    padding: 20px;
    overflow: hidden;
    border-width: 0px 1px 1px 1px;
    border-color: #ececec;
    border-style: solid;

    .tab-content {
      display: none;
      width: 100%;

      &.is-active {
        display: block;
      }
    }
  }
}

.enter.from-right {
  animation: enterFromRight 400ms ease-out;
}

.enter.from-left {
  animation: enterFromLeft 400ms ease-out; 
}

@keyframes enterFromRight {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes enterFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
